*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Inter', sans-serif;
   
}
section{
    margin-bottom: 100px;

}
h1{
    font-size: 60px;
}
 p{
    font-size: 22px;

}
#top-banner{
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
    padding-top: 0%;
    

}
.top-content{
    text-align: center;
    color: white;
    padding-top: 15%;
}
.click-btn{
    font-size: 23px;
    background-image: linear-gradient(rgb(224, 51, 21) ,rgb(240, 115, 93));
    border: 0px;
    padding: 20px 25px;
    margin-top: 20px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}
.doante-content{
    text-align: center;
    opacity: 90%;
}

#donate-item{
    display: flex;
    margin-left: 200px;
}
.donate-ammount{
    
    margin: 50px;
}
#select-ammount{
    border: 2px solid #FF5959;
    color: red;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: #d6a3a3;
}
#other-ammount{
    text-align: center;
    
   
    
}
.amount-box{
    font-size: 25px;
    text-align: center;
    width: 60%;
    
    border-left: none;
    border-top: none;
    border-right: none;
}
#item-list{
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.one-third{
    width: 33%;
    margin: 100px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#box1{
    background-color: #4F9DA6;
}
#box2{
    background-color: #FF5959 ;
    padding-right: 15px;
}
#box3{
    background-color: #ca7a7a ;
}
#map-area{
    display: flex;
    width: 100%;
    height: 800px;
    background-color: rgba(255, 192, 203, 0.31);
}
.half-width{
    margin: 130px;
    padding-top: 5px;
    text-align: center;
   
    
}
.half-width img{
    height: 600px;
}
#disaster{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
}
#map-area-content{
    padding-top: 100px;
    line-height: 2;
}
.subscriibe{
    text-align: center;
    background-color: rgba(255, 192, 203, 0.31);
    padding: 5%;
    margin: 5% 20% 5% 20%;
    border-radius: 20px;

}
#mail{
    display: flex;
    text-align: center;
    padding-left: 25%;
     
}

#mail input{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    
    border-right: none;
   
}
#mail button{
    font-size: 30px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    padding-right: 20px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    background-color: tomato;
    color: white;
    border-left: none;
    cursor: pointer;
   
}
